#!/bin/bash

# Show the weather status notification after Apex has started.
# To put it into use, remove .sample from this file name.

weather=$(apex-weather-status 2>/dev/null) || true

if [[ -n $weather && $weather != "Weather unavailable" ]]; then
  apex-notification-send -u low "$weather"
fi
